body {
    margin: 0;
    padding: 0;
}

/* img {
    display: block;
    border: 0;
} */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav li a:hover {
    background-color: #111;
}

.nav .active {
    background-color: #0099ff;
}
.box{
    text-align: center;
    /* width: 90%; */
}
h1 {
    color: aliceblue;
    /* margin-left: 20%;
    margin-top: 15%; */
    margin: 15%;
    padding: 70px 0;
     text-shadow: rgb(0, 0, 0) 4px 4px 5px;
     font-style: italic;
     font-size: xxx-large;
     font-family: Arial;
     /* background-color: #0099ff; */
}
.bgimg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index:-10;
    zoom:1;
    background:url(img/mountain.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
}
div.last{
width: 100%;
height: 55px;
/* background-color: rgba(0, 0, 0, 0.4); */
position: fixed;
bottom: 0;
text-align: center;
font-family: Arial;
font-size: small;
color:white;
line-height: 8px;
/* text-shadow: rgb(0, 0, 0) 1px 1px 3px; */
}